body {
  background-color: black;
  color: #CCC;
  background-image: url(/assets/images/bg_body_top.jpg);
  background-repeat: repeat-x;
}

header {
  height: 377px;
  background-image: url(/assets/images/bg_header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

.jumbotron {
  background-color: transparent;
}

.logo {
  font: 40pt 'LiquidismRegular', 'Georgia', serif;
  text-transform: uppercase;
  color: orange;
  text-shadow: 1px 1px 2px #fff;
}

.container {
  max-width: 900px;
}

footer {
  padding-top: 50px;
  padding-bottom: 20px;
  font-size: 10px;
}

a, .logo a:hover, label.tree-toggler {
  color: #EE9900;
  text-decoration: none;
}

a:hover {
  color: #EE9900;
  text-decoration: underline;
}

.nav > li > a:hover {
  text-decoration: underline;
  background-color: transparent;
}

.nav-pills > li.active > a {
  font-weight: bold;
  color: white;
  background-color: #EE9900;
}

.nav-pills > ul > ul > li.active > a {
  font-weight: bold !important;
  text-decoration: underline !important;
  background-color: transparent !important;
  color: #EE9900;
}

.nav-pills > li.active > a:hover {
  font-weight: bold;
  color: white;
  background-color: #EE9900;
  text-decoration: underline;
}

section h1:before {
  content: url(/assets/images/ghost.jpg);
  vertical-align: -70%;
}

section > h1 {
  padding-top: 10px;
  padding-bottom: 20px;
  color: #EE9900;
  font-size: 24px;
  font-weight: normal;
}

section > h2 {
  padding-top: 10px;
  padding-bottom: 15px;
  color: #EE9900;
  font-size: 20px;
  font-weight: normal;
}

section > h3 {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #EE9900;
  font-size: 16px;
  font-weight: normal;
}

.nav-stacked ul {
  margin-left: 20px !important;
}

.container img {
  border-radius: 6px;
}

#spider {
  position: relative;
  left: 560px;
  top: 230px;
  width: 60px;
  height: 100px;
  background-image: url(/assets/images/spider.jpg);
  background-repeat: no-repeat;
}
