body {
  background-color: black;
  color: #CCC;
  background-image: url(/assets/images/bg_body_top.jpg);
  background-repeat: repeat-x;
}

header {
  height: 377px;
  background-image: url(/assets/images/bg_header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

.jumbotron {
  background-color: transparent;
}

.logo {
  font: 40pt 'LiquidismRegular', 'Georgia', serif;
  text-transform: uppercase;
  color: orange;
  text-shadow: 1px 1px 2px #fff;
}

.container {
  max-width: 900px;
}

footer {
  padding-top: 50px;
  padding-bottom: 20px;
  font-size: 10px;
}

a {
  color: #EE9900;
  text-decoration: none;
}

section h1::before {
  content: url(/assets/images/ghost.jpg);
  vertical-align: -70%;
}

section h1 {
  padding-top: 10px;
  padding-bottom: 20px;
  color: #EE9900;
  font-size: 24px;
  font-weight: normal;
}

section h2 {
  padding-top: 10px;
  padding-bottom: 15px;
  color: #EE9900;
  font-size: 20px;
  font-weight: normal;
}

section h3 {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #EE9900;
  font-size: 16px;
  font-weight: normal;
}